<main class="bg-lightsand h-screen">
 <h1 class="font-oswald text-moss py-4 text-4xl text-center">Ranking <i class="fas fa-award text-moss"></i></h1>
  <div class="md:grid md:grid-cols-3">

  <!--- Ranking for different categories -->
    <div>
     <div class="font-barlow text-moss py-2 text-2xl text-center font-bold" >Food</div>
      <div class="bg-artichoke rounded p-4 mx-4 text-center">
        <% @users.each do |user| %>
          <div class="flex flex-col font-barlow text-moss">
          <%= user.first_name %> <%= user.total_carbon_score_category("Food")%>
          </div>
       <% end %>
     </div>
    </div>

  <div>
   <div class="font-barlow text-moss py-2 text-2xl text-center font-bold" >Plastic</div>
    <div class="bg-artichoke rounded p-4 mx-4 text-center">
     <% @users.each do |user| %>
      <div class="flex flex-col font-barlow text-moss">
        <%= user.first_name %>
        <%= user.total_carbon_score_category("Plastics")%>
      </div>
     <% end %>
    </div>
   </div>
  </div>

</main>
