<h1>Welcome <%= current_user.first_name %></h1>
<hr>

<h3>Your challenges:</h3>
<div>
  <% @challenges.each do |challenge| %>
    <ol><%= challenge.action %></ol>
  <% end %>
</div>

<h3>Your Challenge for Today</h3>
