<%# this section is hidden under the navbar %>
<main class="bg-lightsand max-w-screen-xl mx-auto h-screen">
  <div class = "mt-16">
    <%= current_user.first_name %>
    <%#= Progress over the pass week (total_score), should ti be additional line  %>
    <p>Your Progress </p>
      <%= line_chart @daily_scores %>

     <%#= Progress on each category? %>


  </div>



</main>
