<%# this section is hidden under the navbar %>
<main class="bg-lightsand max-w-screen-xl mx-auto h-screen">
  <div class = "mt-16">
    <%= current_user.first_name %>
    <%#= Progress over the pass week (total_score) %>
    <p>Your Progress over the past week </p>


     <%#= Progress over the pass week looking a bit closer at each category %>
    <p>Each category</p>
  </div>



</main>
