<main class="bg-white flex flex-col textl-4l text-moss">

  <div class="text-3xl text-moss text-center mt-16 font-oswald" >WELCOME</div>
  <div class="text-3xl text-moss text-center mt-16 font-barlow" >WELCOME</div>

\
  <%# <div class="md:flex">
   <div class="md:shrink-0"> %>

      <%# <div class="object-fit h-48 w-96 justify-center"> %>
        <%# <%= image_tag "landing.jpg" %>
      <%# </div> %>
 <!--- TODO: Typed:JS -->
      <%# <div>
        <span data-controller="typed-js"></span>
      </div> %>

      <!--- TODO: link to homepage, why is this not under img? -->
      <div >
        <%= link_to "Enter", home_path, class:"p-2 bg-green-500 rounded flex align-center" %>
      </div>

    <%# </div>
  </div> %>
</main>
