<main class="bg-white flex flex-col">

  <div class="text-3xl text-moss text-center mt-16" >Welcome to Go! green</div>
  <%# <div class="md:flex">
   <div class="md:shrink-0"> %>
      <%# <div class="object-fit h-48 w-96 justify-center"> %>
        <%= image_tag "landing.jpg" %>
      <%# </div> %>
 <!--- TODO: Typed:JS -->
      <%# <div>
        <span class="typed text-moss text-4xl"></span>
      </div>

      <script src="typed.js"></script>
      <script>
       var typed = new Typed('.element', {
        strings: ["First sentence.", "Second sentence."],
        typeSpeed: 30
        });
      </script> %>

      <!--- TODO: link to homepage, why is this not under img? -->
      <div >
        <%= link_to "Enter", home_path, class:"p-2 bg-green-500 rounded flex align-center" %>
      </div>

    <%# </div>
  </div> %>
</main>
