<main>
  <div class="text-center text-4xl font-oswald tracking-wider text-moss py-2 pt-20">Who are we?</div>
    <div class="text-xl text-moss font-barlow text-center mx-4 flex py-2 justify-between">Green is now is passionate about informing and educating people about the importance of introducing eco-friendly habits. We are commited to long-term sustainibility and as a team, we spent time researching the most effective and accurate way to calculate your carbon emmissions saved. We hope this website provides you with insightful information as well as inspires you to reduce your carbon footprint. </div>
      <div class="text-center text-4xl font-oswald tracking-wider text-moss py-2">References <i class="fas fa-books"></i></div>
        <div class="text-xl text-moss font-barlow text-center mx-4 py-2">Our main source is from "The Carbon Footprint of Everything" by Mike Berners-Lee. We have also included a list of all the websites that helped inform us about our daily carbon emissions.</div>
        <div class="referenceimg bg-cover mx-4 rounded shadow-lg p-4">
          <div class="text-2xl font-barlow text-darkmoss pt-2 flex flex-col text-center">
            <% @references.each do |reference| %>
            <div class="py-2"><%= reference.name %></div>
            <% end %>
          </div>
        </div>
</main>
