// Place all the styles related to the tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tipcard {
  min-height: 130px;
}

.tipsimg {
  background-image: asset-url('tips.jpg');
  background-repeat: no-repeat;
}

.challengeimg {
  background-image: asset-url('challenge.jpg');
  background-repeat: no-repeat;
}
