<main class="bg-lightsand h-full">
  <h1 class="text-moss text-4xl py-6 font-oswald text-center pt-20 md:pt-20">Tips & Tricks <i class="fas fa-lightbulb text-moss hover:text-lightmoss"></i></h1>
    <div class="grid grid-cols-2 mx-4 gap-4 md:grid-cols-3 md:mx-32 md:gap-6 md:pb-5 pb-5">
      <% @tips.each do |tip| %>
        <div class="bg-artichoke p-3 rounded shadow-lg hover:bg-moss tipcard">
          <%= link_to tip_path(tip)  do %>
            <div class="text-moss font-oswald text-center pt-5">
              <div class="flex flex-col group">
                <i class="fab fa-pagelines text-moss text-3xl pb-1.5 group-hover:text-artichoke transition-colors"></i>
                <div class="font-oswald group-hover:text-artichoke transition-colors"><%= tip.name %></h5></div></div>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>

  <% if policy(Tip).create? %>
    <p>only for admin user</p>
    <%= link_to 'create new tips & tricks', new_tip_path %>
  <% end %>

</main>
