<h1>Tips & Tricks</h1>
<% @tips.each do |tip| %>
  <div>
    <h5>Tips:<%= tip.name %></h5>
    <h5>Description:<%= tip.description %></h5>
    <%= link_to 'read more', tip_path(tip) %>
  </div>
<% end %>

<hr>
<% if policy(Tip).create? %>
  <p>only for admin user</p>
  <%= link_to 'create new tips & tricks', new_tip_path %>
<% end %>
