<main class="bg-lightsand h-screen">
<h1 class="font-oswald text-4xl text-center text-moss py-6"><%= @tip.name %></h1>
  <div>img</div>
  <div class="font-barlow text-moss text-2xl text-center" ><%= @tip.description %></div>
</main>
